<p>Você recebeu uma nova mensagem.</p>

<ul>
  <li>Nome: {{name}}</li>
  <li>Email: {{email}}</li>
  <li>Telefone: {{phone}}</li>
  <li>Mensagem: {{message}}</li>
</ul>

<p>Para responder, você precisa clicar em cima do email, ou <a href="mailto:{{email}}">clique aqui</a></p>
